*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: lightcyan;
    min-height: 100vh;
    border: 10px solid rgb(12, 2, 71);
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.image-container,img{
    height: 300px;
    border-radius: 150px;
    margin-right: 100px;
}
.top_section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: flex-end;
}
.name h1{
    font-size: 50px;
    font-weight: bold;
}
.name h4{
     text-align: end;
     font-weight: bold;
}
.about h2{
    margin-top: 50px;
    /* font-style: italic; */
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.about h3{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.about p{
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}
.about li{
    line-height: 30px;
    letter-spacing: 1.2px;
}
footer{
    text-align: end;
    margin-top: 30px;
}
.video{
    font-style: italic;
    margin-top: 20px;
}